@import "tailwindcss";

:root {
  --background: #111827; /* Charcoal */
  --foreground: #FFFFFF; /* Platinum */
  --primary: #111827;
  --secondary: #FFFFFF;
  --accent: #2563EB; /* Cobalt */
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-shimmer: shimmer 2s infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
